<header class="main-header">
  <h3 class="main-header__heading">Treehouse Forum Contest</h3>

  <nav class="main-nav__wrapper">
    <ul class="main-nav">
      <li class="main-nav__item"><a href="">A Button</a></li>
      <li class="main-nav__item"><a href="">Another Button</a></li>
      <li class="main-nav__item"><a href="">More Buttons!?</a></li>
      <li class="main-nav__item"><a href="">Hell Yea Buttons!</a></li>
      <li class="main-nav__item"><a href="">Ok Thats Enough</a></li>
    </ul>
  </nav>
</header>