.main-header
  box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.3)
  background: $header-color
  width: 100%
  +position(fixed, 0 null null 0)

.main-header__heading
  color: slategrey
  text-align: center
  padding: 40px
  margin: 0

.main-nav
  +display(flex)
  +justify-content(space-around)
  +align-items(flex-end)
  max-width: 800px
  padding: 0
  margin: 0 auto

.main-nav__wrapper



.main-nav__item
  display: inline-block
  text-align: center
  padding: 10px

  a
    padding: 10px
    font:
      family: "Lato", sans-serif
      weight: 700
      size: 1.2em
  
.main-header__heading--hidden
  +position(absolute, null null 0.60rem 0)
  +transition(opacity 0 ease)
  opacity: 0
  margin: 0
  padding: 0 0 0 20px
  font:
    family: "Lato", sans-serif
    weight: 900
    size: 1.5em
  color: #566972

  @media (max-width: 1300px)
    display: none

.main-header--hidden
  // +position(fixed, 0 null null 0)
  
  .main-header__heading
    // display: none

  .main-header__heading--hidden
    +transition(opacity 0.5s ease 1s)
    opacity: 0.1


















